@import "systelab-components/sass/systelab-components";

html {
  padding: 0;
  overflow: hidden;
  margin: 0;
  height: 100%;
  background-color: white !important;
  -webkit-overflow-scrolling: touch;
}
body {
  padding: 0;
  overflow: hidden;
  margin: 0;
  height: 100%;
  background-color: white !important;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.principal-container{
  top: 0; bottom: 0; left: 0; right: 0;
}
